/*
!/.gitignore
!/README.md
!/dynamic_island.lua
!/media_bridge/
!/docs/
/docs/*
!/docs/autostart.md

/media_bridge/*
!/media_bridge/README.md
!/media_bridge/dynamic_island.ico
!/media_bridge/sounds/
!/media_bridge/csharp/

/media_bridge/csharp/**/bin/
/media_bridge/csharp/**/obj/
